@model IEnumerable<LookClosely.Models.Score>

@{
    ViewData["Title"] = "Leaderboard";
}

<h1>Leaderboard</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Player</th>
            <th>Level</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var score in Model)
        {
            <tr>
                <td>@score.User.Username</td>
                <td>@score.LevelId</td>
                <td>@score.Points</td>
            </tr>
        }
    </tbody>
</table>
