@{
    ViewData["Title"] = "Level 1";
}

<h2>Level 1 – Room</h2>

<img src="@Model.ImagePath"
     style="width:100%; max-width:900px; height:auto; display:block; margin:auto; border:3px solid red;" />